body{
    margin:0;
    padding: 0;
}
.container{
    padding: 30px;
    display: flex;
    margin: 10px auto;
}
.text-box{
    height: 660px;
    width: 500px;
    padding: 20px;
    background-color: #faeee7;  
}
.bg-img{
    width: 1250px;
    height: 700px;
}
h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff8ba7;
  font-size: 20px;
}
h2{
    font-family: cursive;
    font-size: 30px;
}
h3{
    color: #8bd3dd;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    margin: 5px 100px; 
    border: 2px solid #c65972 ;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    background-color: #ff8ba7;
    box-shadow: 0px 0px 2px 2px #c65972;
    color: black;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}